/* layout/body */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

html {
    background-color: #FFF;
    overflow-y: scroll;
    overflow-x: hidden;
}