/* mixins/aspect-ratio */
/*
@aspect-ratio

Mixin to style elements with correct aspect ratio.<br/>
Direct children will be positioned absolute inside element
<code>aspect-ratio(1280, 720);</code>

$width     - width of the element at any given moment. Number, no units
$height    - height of the element corresponding to the given with. Number, no units

Styleguide Mixins.aspect-ratio
*/

aspect-ratio(width, height)
    value = (height / width) * 100

    position: relative;
    &:after {
        content: ''
        display: block
        padding-bottom: unit(value, '%')
    }

    > * {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
    }
