/* mixins/asset */
asset(resource, baseDir = '') {
    if ($asset_url is defined) {
        url = $asset_url + baseDir + resource;

    } else {
        url = baseDir + resource;
    }
    return url;
}
