/* mixins/auto-alpha.styl */

/*
@auto-alpha

Sets the opacity of an element to value provided.
If the value is 0, also sets visiblity to hidden to prevent pointer events.

$value - unitless, between 0 and 1

examples:
    auto-alpha(0.4);

    Results in:

    opacity: 0.4;
    visiblity: visible;


    auto-alpha(0);

    Results in:

    opacity: 0;
    visiblity: hidden;
*/

auto-alpha(val)
    opacity: val;

    if val > 0
        visibility: visible;
    else
        visibility: hidden;
