/* mixins/has-ellipse.styl */
caret() {
    content: '';
    height: 0px;
    width: 0px;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
