/* mixins/percent */
/*
@percent

Mixin to transform numbers into percentages

$target - number we need as a percentage
$parent - number the $target should be a percentage of

example:
    for a 200px element in a 600px parent:
    width: percent(200, 600);

    Results in:
    width: 33,3333%;

*/

percent(target, parent)
    unit((target * 100) / parent, '%');