retina($path, $extension = '.png') {
    background-image: url($path + $extension);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: scroll;

    +hidpi(2.0) {
        background-image:url($path + '@2x' + $extension);
        background-size: 100%;
    }
}
