<template>
    <div class="home">
        <div class="home__load-image" ref="loadImage"></div>
        <div class="home__bg" ref="bg"></div>
        <header class="home__content">
            <div class="home__content-box" ref="contentBox">
                <div class="home__intro-content" ref="introContent">
                    <div class="home__line-box home__line-box--top" ref="topLineBox">
                        <span></span>
                        <span></span>
                    </div>
                    <h1 class="t-home-header" ref="header">FEEL LOCAL</h1>
                    <div class="home__line-box home__line-box--bottom" ref="bottomLineBox">
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="home__link-box">
                    <div class="home__link-wrap" v-for="(item, i) in navItems" :key="i">
                        <router-link class="home__link t-home-nav" :to="item.route" ref="siteLink">
                            {{ item.linkText }}
                        </router-link>
                    </div>
                </div>
            </div>
        </header>
    </div>
</template>

<script>
// @ is an alias to /src
import MainButton from '@/components/MainButton.vue'

import { gsap } from "gsap";
import Emitter from "tiny-emitter";

export default {
    name: 'home',
    components: {
        MainButton
    },

    data: () => {
        return {
            navItems: [{
                linkText: 'Introduction',
                route: '/room-hunt/intro'
            }, {
                linkText: 'What to expect',
                route: '/room-hunt/what-to-expect'
            }, {
                linkText: 'Be prepared',
                route: '/room-hunt/prepare-for-search'
            }, {
                linkText: 'Finding a room',
                route: '/room-hunt/finding-rooms'
            }, {
                linkText: 'Going to viewings',
                route: '/room-hunt/going-to-viewings'
            }, {
                linkText: 'Moving in',
                route: '/room-hunt/moving-in'
            }, {
                linkText: 'Our story',
                route: '/room-hunt/our-story'
            }]
        }
    },

    mounted() {
        this.ready();
    },
    
    methods: {
        ready() {
            let siteLinks = this.$refs.siteLink.map((item) => { return item.$el; })

            let isMobile = window.innerWidth <= 720;

            this.tl = gsap.timeline()
            .set(this.$refs.bg, {
                scaleY: 1
            })
            .set(this.$refs.topLineBox, {
                y: isMobile ? '116px' : '82px',
                opacity: 0
            })
            .set(this.$refs.bottomLineBox, {
                y: isMobile ? '-122px' : '-68px',
                opacity: 0
            })
            .set(this.$refs.header, {
                opacity: 0
            })
            .set(siteLinks, {
                y: '200%'
            })
            .to([this.$refs.topLineBox, this.$refs.bottomLineBox], .5, {
                opacity: 1
            }, 'a+=.5')
            .to(this.$refs.header, 0, {
                opacity: 1
            }, 'b')
            .to([this.$refs.topLineBox, this.$refs.bottomLineBox], .4, {
                y: 0,
                ease: "power1.out"
            }, 'b')
            .set([this.$refs.topLineBox, this.$refs.bottomLineBox], {
                backgroundColor: 'transparent'
            })
            .to(this.$refs.bg, 1, {
                opacity: 0
            }, 'c+=.3')
            .to(this.$refs.loadImage, 10, {
                scale: 1.2,
                ease: ""
            }, 'c+=.3')
            .to(this.$refs.introContent, .7, {
                filter: 'invert(1)'
            }, 'c+=.3')
            .to(this.$refs.introContent, .5, {
                opacity: 0
            }, 'c+=3.5')
            .to(siteLinks, .7, {
                y: 0,
                stagger: .09
            }, 'c+=3.8')

            this.tl.play();
        },

        openMenu() {
            window.emitter.emit('toggle-menu');
        }
    },

    metaInfo: {
        title: 'Find A Room In Amsterdam - The Complete Guide | Feel Local',
        meta: [
            { name: 'keywords', content: 'How to find a room in Amsterdam' },
            { name: 'description', content: 'Complete, independent guide to Amsterdam room hunting, tips, moneysaving tricks, and things to do. Developed by locals.', vmid: 'description' },
            { name: 'og:title', property: 'og:title', content: 'Find A Room In Amsterdam - The Complete Guide | Feel Local', vmid: 'og:title' },
            { name: 'og:description', property: 'og:description', content: 'Complete, independent guide to Amsterdam room hunting, tips, moneysaving tricks, and things to do. Developed by locals.', vmid: 'og:description' },
            { name: 'og:url', property: 'og:url', content: 'http://feellocal.net', vmid: 'og:url' },
            { name: 'twitter:title', content: 'Find A Room In Amsterdam - The Complete Guide | Feel Local', vmid: 'twitter:title' },
            { name: 'twitter:description', content: 'Complete, independent guide to Amsterdam room hunting, tips, moneysaving tricks, and things to do. Developed by locals.', vmid: 'twitter:description' }
        ]
    }
}
</script>
