<template>
    <div class="section" :class="['section--' + content.id]">
            <header class="section__header">
                <parallax :fixed=true>
                    <div class="section__header-bg" ref="bg"></div>
                </parallax>
                <div class="section__header-content" ref="header">
                    <div class="section__header-line section__header-line--top"></div>
                    <h1>{{ content.title }}</h1>
                    <div class="section__header-line section__header-line--bottom"></div>
                </div>
            </header>
        <component v-for="(block, i) in content.blocks" :key="i" :content="block.content" v-bind:is="block.type"/>

    </div>
</template>

<script>
// @ is an alias to /src
import { gsap } from "gsap";

import RoomHuntContent from '../data/room-hunt.json';

import ColumnBlock from '@/components/ColumnBlock.vue'
import FullWidthBlock from '@/components/FullWidthBlock.vue'
import ImageBlock from '@/components/ImageBlock.vue'
import NextSectionBlock from '@/components/NextSectionBlock.vue'

import Parallax from 'vue-parallaxy'

export default {
    name: 'section-content',

    data: () => {
        return {
            content: {
                title: null,
                blocks: [],
                meta: {
                    title: 'Sample',
                    description: 'Sample description'
                }
            },
            roomHuntContent: RoomHuntContent
        }
    },

    components: {
        ColumnBlock,
        FullWidthBlock,
        ImageBlock,
        NextSectionBlock,
        Parallax
    },

    mounted() {
        this.ready();
        this.animateIn();
    },

    methods: {
        ready() {
            this.content = this.roomHuntContent[this.$route.params.section];
        },

        animateIn() {
            this.tl = new gsap.timeline()
            .set(this.$refs.header, {
                opacity: 0
            })
            .set(this.$refs.bg, {
                opacity: 0
            })
            .to(this.$refs.bg, 2, {
                opacity: 1
            }, 'a')
            .to(this.$refs.bg, 6, {
                scale: 1.1,
                ease: 'power1.out'
            }, 'a')
            .to(this.$refs.header, 2, {
                opacity: 1,
                ease: 'power3.out'
            }, 'a+=1')
        }
    },

    metaInfo () {
        return {
            title: this.content.meta.title,
            meta: [
                { name: 'description', content: this.content.meta.description, vmid: 'description' },
                { name: 'og:title', property: 'og:title', content: this.content.meta.title, vmid: 'og:title' },
                { name: 'og:description', property: 'og:description', content: this.content.meta.description, vmid: 'og:description' },
                { name: 'og:url', property: 'og:url', content: this.content.meta.url, vmid: 'og:url' },
                { name: 'twitter:title', content: this.content.meta.title, vmid: 'twitter:title' },
                { name: 'twitter:description', content: this.content.meta.description, vmid: 'twitter:description' }
            ]
        }
    }
}
</script>
