<template>
    <article class="block column-block" :style="{ 'background-color': content.background }">
        <div class="block__gutter block__gutter--left">
            <div v-if="content.pattern === 'left'" class="block__pattern block__pattern--left"></div>
        </div>
        <div class="column-block__content">
            <div class="column-block__title" v-if="content.title">
                <h2 v-html="content.title"></h2>
            </div>
            <div class="column-block__columns">
                <div class="column-block__column column-block__column--left">
                    <p class="t-text-large" v-if="content.largeText" v-html="content.largeText"></p>
                    <p v-for="(text, i) in content.leftColumn" :key="i" v-html="text"></p>
                </div>
                <div class="column-block__column column-block__column--right">
                    <p v-for="(text, i) in content.rightColumn" :key="i" v-html="text"></p>
                </div>
            </div>
            <div class="column-block__links" v-if="content.links">
                <a :href="link.url" target="_blank" v-for="(link, i) in content.links">{{ link.title }}</a>
            </div>
        </div>
        <!-- <img v-if="content.svgImage" class="block__svg-image" :class="{ 'block__svg-image--right': content.svgRight }" :src="require('@/assets/img/' + content.svgImage)" /> -->
        <div class="block__gutter block__gutter--right">
            <div v-if="content.pattern === 'right'" class="block__pattern block__pattern--right"></div>
        </div>
    </article>
</template>

<script>
// @ is an alias to /src
import { gsap } from "gsap";

export default {
    name: 'ColumnBlock',

    props: {
        content: Object
    },

    components: {

    },

    data: () => {
        return {
            // content: {
            //     title: null,
            //     largeText: null,
            //     leftColumn: null,
            //     rightColumn: null
            // }
        }
    },


    mounted() {
        // this.content = this.$props.content;
        this.ready();
    },

    methods: {
        ready() {

        }
    }
}
</script>
