<template>
    <article class="block fullwidth-block" :style="{ 'background-color': content.background }">
        <div class="block__gutter block__gutter--left">
            <div v-if="content.pattern === 'left'" class="block__pattern block__pattern--left"></div>
        </div>
        <div class="fullwidth-block__wrap">
            <div class="fullwidth-block__content">
                <h2 v-html="content.title"></h2>
                <p v-for="(text, i) in content.text" :key="i" v-html="text"></p>
                <div class="fullwidth-block__links" v-if="content.links">
                    <a :href="link.url" target="_blank" v-for="(link, i) in content.links">{{ link.title }}</a>
                </div>
            </div>
        </div>
        <!-- <img v-if="content.svgImage" class="block__svg-image" :class="{ 'block__svg-image--right': content.svgRight }" :src="require('@/assets/img/' + content.svgImage)" /> -->
        <div class="block__gutter block__gutter--right">
            <div v-if="content.pattern === 'right'" class="block__pattern block__pattern--right"></div>
        </div>
    </article>
</template>

<script>
// @ is an alias to /src
import { gsap } from "gsap";

export default {
    name: 'FullWidthBlock',

    props: {
        content: Object
    },

    components: {

    },

    data: () => {
        return {
            // content: {
            //     title: null,
            //     text: null
            // }
        }
    },


    mounted() {
        // this.content = this.$props.content;
        this.ready();
    },

    methods: {
        ready() {

        }
    }
}
</script>
