<template>
    <article class="block image-block" :style="{ 'background-color': content.background }">
        <div class="image-block__content" :class="{ 'image-block__content--image-left': content.imageLeft }">
            <div class="image-block__column image-block__column--left">
                <div class="image-block__column-content image-block__column-content--left">
                    <h2 v-html="content.title"></h2>
                    <p v-for="(text, i) in content.text" :key="i" v-html="text"></p>
                </div>
            </div>
            <div class="image-block__column image-block__column--right">
                <div class="image-block__image"  :style="{ backgroundImage: 'url(' + require('@/assets/img/square/' + content.image) + ')' }"></div>
            </div>
        </div>
    </article>
</template>

<script>
// @ is an alias to /src
import { gsap } from "gsap";

import Parallax from 'vue-parallaxy'

export default {
    name: 'ImageBlock',

    props: {
        content: Object
    },

    components: {
        Parallax
    },

    data: () => {
        return {
            // content: {
            //     title: null,
            //     text: null
            // }
        }
    },


    mounted() {
        // this.content = this.$props.content;
        this.ready();
    },

    methods: {
        ready() {

        }
    }
}
</script>
