<template>
    <button class="button">
        {{ text }}
    </button>
</template>

<script>
// @ is an alias to /src
import { gsap } from "gsap";

export default {
    
    name: 'main-button',

    props: {
        text: String
    },

    components: {
    },

    mounted() {
        this.ready();
    },

    methods: {
        ready() {

        }
    }
}
</script>
