<template>
    <div class="nav-container">
        <div class="nav" ref="nav">
            <div class="nav__link-container" ref="navLinkContainer">
                <div class="nav__link-list nav__link-list--first" ref="linkListFirst">
                    <div class="nav__link-wrap">
                        <router-link class="nav__link t-nav t-nav-back" :to="{ path: '/'}" ref="firstPanelHome">
                            Home
                        </router-link>
                    </div>
                    <div class="nav__link-wrap" v-for="(item, i) in firstPanelItemData" :key="i">
                        <div class="nav__link t-nav" ref="firstPanelItem" @click="drilldownMenu(item.section)">
                            {{ item.linkText }}
                        </div>
                    </div>
                </div>
                <div class="nav__link-list nav__link-list--second" ref="linkListSecond">
                    <div class="nav__link-wrap" v-for="(item, i) in secondPanelItemData[activeSection]" :key="i">
                        <router-link class="nav__link t-nav" :to="item.route" ref="secondPanelItem">
                            {{ item.linkText }}
                        </router-link>
                    </div>
                    <!-- <div class="nav__link-wrap">
                        <div class="nav__link t-nav-back" @click="reverseMenu()" ref="secondPanelBack">
                            Back
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import { gsap } from "gsap";
import Emitter from "tiny-emitter"

export default {
    name: 'Navigation',

    data: () => {
        return {
            navOpen: false,
            navTransitioning: false,
            activePanel: 2,
            activeSection: 'room-hunt',
            firstMenuItems: null,
            firstPanelItemData: [{
                section: 'room-hunt',
                linkText: 'Finding a place in Amsterdam'
            }, {
                section: 'just-moved',
                linkText: 'Just moved here'
            }, {
                section: 'tips',
                linkText: 'Tips for tourists and expats'
            }],
            secondPanelItemData: {
                'room-hunt': [{
                    linkText: 'Home',
                    route: '/'
                }, {
                    linkText: 'Introduction',
                    route: '/room-hunt/intro'
                }, {
                    linkText: 'What to expect',
                    route: '/room-hunt/what-to-expect'
                }, {
                    linkText: 'Be prepared',
                    route: '/room-hunt/prepare-for-search'
                }, {
                    linkText: 'Finding a room',
                    route: '/room-hunt/finding-rooms'
                }, {
                    linkText: 'Going to viewings',
                    route: '/room-hunt/going-to-viewings'
                }, {
                    linkText: 'Moving in',
                    route: '/room-hunt/moving-in'
                }, {
                    linkText: 'Our story',
                    route: '/room-hunt/our-story'
                }],
                'just-moved': [{
                    linkText: 'Introduction',
                    route: '/just-moved/intro'
                }],
                'tips': [{
                    linkText: 'Introduction',
                    route: '/tips/intro'
                }]
            },
            menuStagger: .07,
            menuSpeed: .9
        }
    },

    mounted() {
        this.ready();
    },

    methods: {
        ready() {
            gsap.set(this.$refs.linkListSecond, {
                visibility: 'hidden'
            });

            this.firstMenuItems = [this.$refs.firstPanelHome.$el, ...this.$refs.firstPanelItem];

            window.emitter = new Emitter();
            window.emitter.on('toggle-menu', this.toggleMenu);

        },

        toggleMenu() {
            if(this.navTransitioning) return;
            
            this.navTransitioning = true;

            let staggerItems = (this.activePanel === 1) ? this.firstMenuItems : this.getSecondMenuItems();

            if(!this.navOpen) {
                this.navOpen = true;

                if(this.$route.params.section) {
                    this.activePanel = 2;
                    staggerItems = this.getSecondMenuItems();
                    this.activeSection = this.$route.params.guide;
                }

                gsap.set(this.$refs.linkListFirst, {
                    visibility: (this.activePanel === 1) ? "visible": "hidden"
                });

                gsap.set(this.$refs.linkListSecond, {
                    visibility: (this.activePanel !== 1) ? "visible": "hidden"
                });

                gsap.set(staggerItems, {
                    y: '200%'
                });

                this.transitionNav(true, () => {
                    this.transitionMenuItems(false, staggerItems);
                });

            } else {
                this.navOpen = false;

                this.transitionMenuItems(true, staggerItems, () => {
                    this.transitionNav(false);
                });
            }
        },

        getSecondMenuItems() {
            return [...this.$refs.secondPanelItem.map((item) => { return item.$el; }), this.$refs.secondPanelBack];
        },

        // Slide the navigation open / closed
        transitionNav(opening, callback) {
            let xTo = opening ? 0 : '-100%';

            let timeline = new gsap.timeline()
            .to(this.$refs.nav, .8, {
                x: xTo,
                ease: "power1.inOut"
            }, 'a')
            .call(() => {
                if(callback) callback();
            }, [], 'a+=.4');
            // .to(this.$refs.nav, 0, {
            //     onComplete: () => {
            //     }
            // }, 'a');
        },

        // Stagger the menu items in or out
        transitionMenuItems(transitionOut, items, callback) {
            let yTo = (transitionOut) ? '200%': 0;
            let ySet = (transitionOut) ? 0: '200%';
            // hide speed : show speed
            let speed = (transitionOut) ? .1: .8;

            let timeline = new gsap.timeline()
            .set(items, {
                y: ySet
            })
            .to(items, .6, {
                y: yTo,
                stagger: .05
            }, 'a')
            .call(() => {
                this.navTransitioning = false;
                window.emitter.emit('toggle-menu-complete');
                if(callback) callback();
            }, [], 'a+=.4')
        },

        drilldownMenu(section) {
            this.activePanel = 2;
            this.activeSection = section;

            this.transitionMenuItems(true, this.firstMenuItems, () => {
                gsap.set(this.$refs.linkListFirst, {
                    visibility: 'hidden'
                });

                this.transitionMenuItems(false, this.getSecondMenuItems());

                gsap.set(this.$refs.linkListSecond, {
                    visibility: 'visible'
                });
            });

        },

        reverseMenu() {
            this.activePanel = 1;

            this.transitionMenuItems(true, this.getSecondMenuItems(), () => {
                gsap.set(this.$refs.linkListSecond, {
                    visibility: 'hidden'
                });

                this.transitionMenuItems(false, this.firstMenuItems);

                gsap.set(this.$refs.linkListFirst, {
                    visibility: 'visible'
                });
            });
        }
    },

    watch: {
        $route(to, from) {
            if(this.navOpen) this.toggleMenu();
        }
    }
}
</script>
