<template>
    <article class="block next-section">
        <router-link class="next-section__link-wrap" :to="content.link">
            <div class="next-section__content">
                <p class="t-next-section">{{ content.title }}</p>
                <p class="t-text-large next-section__navigate">Navigate to next section</p>
            </div>
        </router-link>
    </article>
</template>

<script>
// @ is an alias to /src
import { gsap } from "gsap";

export default {
    name: 'NextSectionBlock',

    props: {
        content: Object
    },

    components: {

    },

    data: () => {
        return {
            // content: {
            //     title: null,
            //     text: null
            // }
        }
    },


    mounted() {
        // this.content = this.$props.content;
        this.ready();
    },

    methods: {
        ready() {

        }
    }
}
</script>
