.block {
    min-height: 75vh;
    width: 100%;
    position: relative;
    background-color: $c-white;
    display: flex;
    flex-direction: row;
    
    &__gutter {
        flex-grow: 1;
        height: auto;
        top: 0;
        left: 0;
        position: relative;
        min-width: 20px;
        
        &--left {
        }
        
        &--right {
        }
    }
    
    &__pattern {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
        &--right {
            left: unset;
            right: 0;
        }
        
        background-image: url('assets/img/patterns/pattern-3.jpg');
        background-size: cover;
        opacity: 0.3;
    }
    
    &__svg-image {
        opacity: 0.1;
        position: absolute;
        opacity: 0.08;
        left: $gutter-size;
        height: 50%;
        
        &--right {
            left: unset;
            right: $gutter-size;
        }
    }
    
    @media screen and (max-width: $mobile-breakpoint) {
        &__svg-image {
            bottom: --gutter-size;
            height: 200px;
        }   
    }
}