.column-block {    
    &__content {
        width: 100%;
        max-width: $desktop-max-width;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: $gutter-size;
        padding-top: $top-bottom-padding;
        padding-bottom: $top-bottom-padding;
        box-sizing: content-box;
    }
    
    &__title {
        width: 50%;
    }
    
    &__columns {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    &__column {
        height: 100%;
        width: 50%;
        box-sizing: border-box;
        
        &--left {
            margin-right: 40px;
        }
    }
    
    &__links {
        padding-top: 30px;
        
        a {
            display: block;
            text-align: center;
        }
    }
    
    @media screen and (max-width: $mobile-breakpoint) {
        &__content {
            padding: $mobile-gutter-size;
            padding-top: $mobile-top-bottom-padding;
            padding-bottom: $mobile-top-bottom-padding;
        }

        &__columns {
            flex-direction: column;
        }
        
        &__title {
            width: 100%;
        }
        
        &__column {
            width: 100%;
        }
    }
}