.fullwidth-block {
    flex-direction: row;
    
    &__wrap {
        width: 100%;
        max-width: $desktop-max-width;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: $gutter-size;
        padding-top: $top-bottom-padding;
        padding-bottom: $top-bottom-padding;
        box-sizing: content-box;
    }

    &__content {
        width: 100%;
    }
    
&__links {
        padding-top: 50px;
        
        a {
            display: block;
            text-align: center;
        }
    }
    
    @media screen and (max-width: $mobile-breakpoint) {
        &__wrap {
            padding: $mobile-gutter-size;
            padding-top: $mobile-top-bottom-padding;
            padding-bottom: $mobile-top-bottom-padding;
        }
    }
}