.image-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &__content {
        width: 100%;
        height: 100%;
        padding-left: $gutter-size + 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        
        &--image-left {
            flex-direction: row-reverse;
            padding-left: 0px;
            padding-right: $gutter-size;
            
            .image-block__column {
                &--left {
                    margin-right: 0px;
                }
                
                &--right {
                    margin-right: 40px;
                    padding-right: 60px;
                    padding-left: 0px;
                }
            }
            
            .image-block__column-content {
                margin-right: auto;
                margin-left: 40px;
            }
        }
    }
    
    &__column {
        height: 100%;
        width: 50%;
        box-sizing: border-box;
        
        &--left {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        &--right {
        }
    }
    
    &__column-content {
        position: relative;
        width: 100%;
        max-width: 440px;
        margin-right: 40px;
        margin-left: auto;
        padding-right: 16px;
    }
    
    &__image {
        position: relative;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    p {
    }
    
    @media screen and (max-width: $mobile-breakpoint) {
        &__content {
            flex-direction: column;
            padding-left: 0px;
        }
        
        &__column-content {
            padding: $mobile-gutter-size + $mobile-pattern-size;
            padding-top: $mobile-top-bottom-padding;
            padding-bottom: $mobile-top-bottom-padding;
            max-width: 100%;
            margin-right: 0px;
        }
        
        &__column {
            width: 100%;
            
            &--left {
                margin-right: 0px;
            }
        }
    }
}