.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 11;
    pointer-events: none;
}

.nav-burger-hitbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 70px;
    height: 50px;
    z-index: 20;
    cursor: pointer;
    pointer-events: all;
}

.nav-burger {
    position: fixed;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 25px;
    margin: 20px;
    box-sizing: content-box;
    z-index: 19;
    height: 2px;
    mix-blend-mode: difference;
    background-color: $c-white;
    transition: all 0.2s;
        
    &::before, &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #FFF;
        width: 25px;
        transition: all 0.2s;
    }
    
    &::before {
        transform: translateY(-7px) rotateZ(0deg);
    }
    
    &::after {
        transform: translateY(7px) rotateZ(0deg);
    }
    
    &.nav-burger--open {
        width: 0px;
        
        &::before {
            transform: translateY(0px) rotateZ(45deg);
        }
        
        &::after {
            transform: translateY(0px) rotateZ(-45deg);
        }    
    }
    
    @media screen and (max-width: $mobile-breakpoint) {
        left: -5px;    
    }
}

.nav {
    width: 100%;
    height: 100%;
    background-color: $c-nav-grey;
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: all;
    overflow: hidden;
    
    &__link-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left: 0;
        top: 0;
    }
    
    &__link-single-container {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    &__link-list {
        width: 100%;
        max-width: 800px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        padding: $gutter-size;
    }
    
    &__link-wrap {
        margin-bottom: 14px;
        padding-bottom: 2px;
        overflow: hidden;
        padding-bottom: 15px;
    }
    
    &__home-link {
        margin-bottom: 30px;
    }
    
    &__link {
        cursor: pointer;
        display: block;
        text-decoration: none;
        
        &.router-link-exact-active:after,
        &:hover:after {
            width: 100%;
        }
    }
    
    &__link:after {
        content: '';
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0%;
        height: 2px;
        background-color: $c-text;
        transition: width 0.2s ease-out;
    }
    
    @media screen and (max-width: $mobile-breakpoint) {
        &__link-list {
            padding: $mobile-gutter-size;
        }
        
        &__link-wrap {
            margin-bottom: 9px;
        }
    }
}
