.next-section {
    min-height: 30vh;
    cursor: pointer;
    transform-origin: center;
    background-size: 100% auto;
    background-position: center;
    transition: background-size .15s ease-out;
    
    &__link-wrap {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        padding: $gutter-size;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__content {
        color: #FFF;
        
        p {
            text-align: center;
            color: #FFF;
        }
    }
    
    &__navigate {
        text-decoration: underline;
    }
    
    
    @media screen and (min-width: $mobile-breakpoint + 1) {    
        &:hover {
            background-size: 102% auto;
        }
    }
    
    @media screen and (max-width: $mobile-breakpoint) {
        background-size: cover;
        height: auto;

        &__link-wrap {
            height: auto;
            position: relative;
        }    
    }
}

.section {
    &--intro .next-section {
        background-image: url('assets/img/what-to-expect-header.jpg');
    }
    
    &--what-to-expect .next-section {
        background-image: url('assets/img/preparing-yourself-header.jpg');
    }
    
    &--prepare-for-search .next-section {
        background-image: url('assets/img/finding-a-room-header.jpg');
    }
    
    &--finding-rooms .next-section {
        background-image: url('assets/img/going-to-viewings-header.jpg');
    }
    
    &--going-to-viewings .next-section {
       background-image: url('assets/img/moving-in-header.jpg');
       background-position: 50% 75%;
    }
    
    &--moving-in .next-section {
       background-image: url('assets/img/moving-in-header.jpg');
       background-position: 50% 75%;
    }
}