html {
    box-sizing: border-box;
    background: #fff;
}

*, *:before, *:after {
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, blockquote {
    padding: 0;
    margin: 0;
}

ul, ol, li {
    list-style-type: none;
}

img, picture, figure, video {
    display: block;
    user-select: none;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    color: inherit;
    font: inherit;
    // appearance: none;
    background: none;
    border-radius: 0;
    cursor: pointer;
    
    // &:focus {
    //     note: consider setting outline-color
    //     outline: none;
    // }
}

::selection {
    background: #eaeaea; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: #eaeaea; /* Gecko Browsers */
}