@font-face {
    font-family: 'Limelight';
    src: url('/fonts/Limelight-Regular.eot');
    src: url('/fonts/Limelight-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Limelight-Regular.woff2') format('woff2'),
        url('/fonts/Limelight-Regular.woff') format('woff'),
        url('/fonts/Limelight-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('/fonts/AvenirLTStd-Medium.eot');
    src: url('/fonts/AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AvenirLTStd-Medium.woff2') format('woff2'),
        url('/fonts/AvenirLTStd-Medium.woff') format('woff'),
        url('/fonts/AvenirLTStd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Haarlem Deco';
    src: url('/fonts/HaarlemDeco.eot');
    src: url('/fonts/HaarlemDeco.eot?#iefix') format('embedded-opentype'),
        url('/fonts/HaarlemDeco.woff2') format('woff2'),
        url('/fonts/HaarlemDeco.woff') format('woff'),
        url('/fonts/HaarlemDeco.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

h1 {
    font-family: 'Limelight', Arial, sans-serif;
    font-size-rem(55px);
    color: #FFF;
    letter-spacing: 0.03em;
    padding-bottom: 0px;
    font-weight: 100;
}

h2, .t-next-section {
    font-family: 'Limelight', Arial, sans-serif;
    font-size-rem(28px);
    color: $c-text;
    line-height: 1.2;
    padding-bottom: 20px;
    font-weight: 100;
}

p, a {
    font-family: 'Avenir LT Std', Arial, sans-serif;
    font-size-rem(16px);
    color: $c-text;
    line-height: 1.7;
    padding-bottom: 15px;
    text-align: justify;
    
    span {
        display: block;
        margin-bottom: 4px;
        text-decoration: underline;
    }
}

p:last-child {
    padding-bottom: 0px;        
}

a {
    color: $c-text;
    text-decoration: underline;
    padding-bottom: 0px;
}

li {
    list-style-type: circle;
}

.t-nav,
.t-nav-back,
.t-home-nav {
    font-family: 'Limelight', Arial, sans-serif;
    // font-family: 'Haarlem Deco', Arial, sans-serif;
    font-size-rem(33px);
    color: $c-text;
    line-height: 1;
    font-weight: 100;
}

.t-home-nav {
    color: $c-white;
    text-decoration: none;
}

.t-nav-back {
    font-size-rem(23px);
}

.t-text-large {
    font-size-rem(16px);
    line-height: 1.5;
}

.t-home-header {
    font-family: 'Limelight', Arial, sans-serif;
    font-size: 7rem;
    line-height: 0.8;
    color: $c-coffee;
}

.t-next-section {
    font-size-rem(50px);
    padding-bottom: 10px;
}

@media screen and (max-width: $mobile-breakpoint) {
    .t-nav {
        font-size-rem(21px);
    }
    
    .t-home-nav {
        font-size-rem(25px);
    }
    
    .t-next-section {
        font-size-rem(34px);
        line-height: 1.1;
    }
    
    h1 {
        font-size-rem(35px);
    }
    
    h2 {
        font-size-rem(22px);
        line-height: 1.4;
    }
    
    p {
        font-size-rem(14px);
    }
    
    .t-text-large {
        font-size-rem(14px);
    }

}