#app {
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

$c-gold = #E2DED0;
$c-nav-gold = #eae2c7;
$c-nav-grey = #f3f3f3;
$c-grey = #38444E;
$c-light-grey = #eaeaea;
$c-white = #FFF;
$c-bg-yellow = #e2ded0;
$c-coffee = #343434;
$c-text = #343434;

$gutter-size = 50px;
$mobile-gutter-size = 15px;

$top-bottom-padding = 100px;
$mobile-top-bottom-padding = 50px;

$mobile-pattern-size = 20px;

$block-padding-size = 50px;
$desktop-max-width = 900px;

$mobile-breakpoint = 750px;

@media screen and (max-width: $mobile-breakpoint) {
    
}

@require('mixins/*');
@require('_resets');
@require('_typography');
@require('pages/*');
@require('layout/*');
@require('components/*');


.fade-enter-active,
.fade-leave-active {
    transition-duration: 0.3s;
    transition-property: opacity;
    transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
    opacity: 0
}

.bullet {
    display: inline-block;
    text-decoration: none;
    position: relative;
    bottom: 2px;
    font-size-rem(14px);
    margin-right: 8px;
}