<template>
    <div id="app">
        <div class="nav-burger-hitbox" @click="toggleMenu"></div>
        <div class="nav-burger" :class="{ 'nav-burger--open': navOpen }"></div>
        <navigation />
        
        <transition name="fade" mode="out-in">
            <router-view :key="$route.fullPath" />
        </transition>
    </div>
</template>

<script>
// @ is an alias to /src
import Navigation from '@/components/Navigation.vue'

export default {
    components: {
        Navigation
    },

    data: () => {
        return {
            navOpen: false
        }
    },

    mounted() {
        this.ready();
    },

    methods: {
        ready() {
            window.emitter.on('toggle-menu-complete', this.menuToggleComplete);
        },

        toggleMenu() {
            window.emitter.emit('toggle-menu');
        },

        menuToggleComplete() {
            this.navOpen = !this.navOpen;
        }
    }
}
</script>


<style lang="stylus">
@import "assets/stylus/app.styl"
</style>
