/* Site styles */
.home {
    fullSize();
    background-color: #868686;
    position: relative;
    overflow: hidden;
    
    &__content {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        fullSize();
        z-index: 10;
    }
    
    &__load-image,
    &__bg {
        position: absolute;
        fullSize()
    }
    
    &__load-image {
        z-index: 0;
        background-image: url('assets/img/home-header.jpg');
        background-size: cover;
        transform-origin: center;
        background-position: center;
    }
    
    &__bg {
        z-index: 1;
        background-color: $c-white;
        
        // transform: scaleY(0);
        transform-origin: center;
    }
    
    &__content-box {
        max-width: 680px;
        position: relative;
        text-align: center;
    }

    &__content-text {
        max-width: 520px;
        padding-top: 10px;
    }
    
    &__line-box {
        position: relative;
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        background-color: $c-white;
        
        span {
            width: 100%;
            background-color: $c-coffee;
            display: block;
            // max-width: 400px;
            margin-left: auto;
            margin-right: auto;
            position: relative;
        }

        &--top {
            top: -33px;
            justify-content: flex-end;
            
            span:nth-child(1) {
                height: 1px;
                bottom: 5px;
            }
            
            span:nth-child(2) {
                height: 3px;
                bottom: 0px;
            }
        }
        
        &--bottom {
            bottom: -25px;
            
            span:nth-child(1) {
                height: 3px;
                top: 0px;
            }
            
            span:nth-child(2) {
                height: 1px;
                top: 5px;
            }
        }
    }
    
    &__link-box {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    } 
    
    &__link-wrap {
        overflow: hidden;
        margin-bottom: 28px;
    }
    
    &__link {
        position: relative;
        display: inline-block;
    }
    
    &__link:after {
        content: '';
        position: absolute;
        bottom: 3px;
        left: 0;
        width: 0%;
        height: 2px;
        background-color: $c-white;
        transition: width 0.2s ease-out;
    }
    
    @media screen and (min-width: $mobile-breakpoint + 1) {
        &__link {
            &:hover:after {
                width: 100%;
            }
        }
    }
    
    @media screen and (max-width: $mobile-breakpoint) {
        
        &__link-wrap {
            margin-bottom: 22px;
        }
        
        &__intro-content {
            transform: scale(0.6);
        }

    }
}


