.section {

    &__header {
        width: 100%;
        height: 90vh;
        display: block;
        position: relative;
    }
    
    &__header-content {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    &__header-line {
        position: relative;
        height: 2px;
        width: 100%;
        max-width: 300px;
        background-color: #fff;
        margin: 35px;
    }
    
    .section__header-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 0;
        
        background-size: cover;
        background-position: top;
    }
    
    &--intro .section__header-bg {
        background-image: url('assets/img/introduction-header.jpg');
    }
    
    &--what-to-expect .section__header-bg {
        background-image: url('assets/img/what-to-expect-header.jpg')
    }
    
    &--prepare-for-search .section__header-bg {
        background-image: url('assets/img/preparing-yourself-header.jpg');
        background-position: bottom;
    }
    
    &--finding-rooms .section__header-bg {
        background-image: url('assets/img/finding-a-room-header.jpg')
    }
    
    &--going-to-viewings .section__header-bg {
        background-image: url('assets/img/going-to-viewings-header.jpg')
    }
    
    &--moving-in .section__header-bg {
        background-image: url('assets/img/moving-in-header.jpg')
        background-position: bottom;
    }
    
    &--our-story .section__header-bg {
        background-image: url('assets/img/moving-in-header.jpg')
        background-position: bottom;
    }
    
    
    @media screen and (max-width: $mobile-breakpoint) {
        
        &__header-line {
            margin: 15px;
        }
        
    }
}